#wrap{
    position:relative;
    overflow:hidden;
    min-height: 100%;
}
#pages {
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
    text-align:center;
}

.page{
    overflow: hidden;
}
.page p {
    font-size: 18px;
    margin: 20px;
}
.page1{
    background:red;
}
.page2{
    background:yellow;
}
.page3{
    background:green;
}
.page4{
    background: pink;
}
.page5{
    background:grey;
}
h1{
    text-align:center;
    font-size:30px;
}
.box{
    text-align:center;
    margin:50px 0;
}
.box img{
    max-width:90%;
}

#ctl{
    position:fixed;
    bottom: 30px;
    left:0;
    width:100%;
    text-align:center;
    z-index:100;
}
#ctl button{
    margin:5px;
}

button {
    border: 1px solid black;
}
/* Â≠ê page slider */
.subsliderWrapper {
    position:relative;
    overflow:hidden;
    background-color: red;
    width: 320px;
    height: 120px;
    box-sizing: border-box;
}
.subslider,
.subslider2 {
    position: relative;
    background-color: lightgreen;
    width: 300px;
    height: 100px;
    margin: 10px;
    box-sizing: border-box;
    font: bold 25px/90px monaco;
}
.subslider {
    width: 320px;
    margin: 10px 0;
}
